.wrapper {
    height: var(--height-nav-bar);
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    .logo {
        font-size: 3rem;
        font-weight: 400;
        text-decoration: dashed;
    }
    .navigationDesktop {
        display: flex;
        button,
        a {
            font-size: 1.6rem;
            font-weight: 500 !important;
            color: black;
        }
    }
}
.searchDesktop {
    display: none;
}
.navigationMobile {
    display: none;
}
.action {
}
/// media query

@media only screen and (min-width: 1262px) {
    .searchDesktop {
        display: block;
    }
    .searchIcon {
        display: none;
    }
}
@media only screen and (max-width: 1006px) {
    .navigationDesktop {
        display: none !important;
    }
    .navigationMobile {
        display: block;
    }
}
