.iconMessenger {
    width: 40px;
    height: 40px;
    background-color: #0a7cff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    font-size: 1em;
    svg {
        display: block;
    }
}
