@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,600&family=Nuosu+SIL&display=swap');
:root {
    --primary: #91ad41;
    --border-radius: 23px;
    --white: white;
    --default-horizontal-padding: 24px;
    --font-size-nav-bar: 1.6rem;
    --height-nav-bar: 65px;
    --height-banner: calc(100vh - var(--height-nav-bar));
    --matcha-green: #9fbc4c;
    --sencha-green: #376118;
}
//@at-root fonts  embeded

html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
button,
select,
input {
    outline: none;
    border: none;
    background-color: #fff;
}
a[href] {
    text-decoration: none;
    color: rgb(22, 24, 35);
    transition: color 250ms ease 0s;
}
body {
    font-family: 'Montserrat';
    font-size: 1.6rem;
    line-height: 1.5;
    overflow-y: overlay;
    text-rendering: optimizeSpeed;
}
ul,
li {
    list-style-type: none;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

.css-pwyk3z-MuiBadge-badge {
    min-width: 9px !important;
    line-height: 1;
    height: 15px !important;
    border-radius: 10px;
    z-index: 1;
    background-color: #2e7d32;
    color: #fff;
    top: -1px !important;
    right: -5px !important;
}
// dialog

.css-hz1bth-MuiDialog-container {
    justify-content: left !important;
    align-items: flex-start !important;
    height: 110% !important;
    .MuiPaper-root {
        margin: 0;
        max-width: 250px;
        height: 100vh;
        background-color: var(--primary);
        color: white;
    }
}

// help text login from
.MuiFormHelperText-root {
    font-size: 0.9em !important;
    color: red !important;
}
.MuiBreadcrumbs-li {
    font-size: 1.4em !important;
    color: #21271d !important;
    font-weight: 500 !important;
}
.css-1wuw8dw-MuiBreadcrumbs-separator {
    font-size: 20px !important;
}
// tab product

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: black !important;
    font-size: 1.5rem !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    color: black !important;
    font-size: 1.5rem !important;
}
@media (max-width: 687px) {
    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
        color: black !important;
        font-size: 1rem !important;
    }
    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
        color: black !important;
        font-size: 1rem !important;
    }
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
    color: var(--primary) !important;
}
