.wrapper {
    font-size: 1.6rem;
    padding: 1em;
    .productImage {
        width: 100%;
        max-height: 600px;
    }
    .thumbnailWrapper {
        .thumbnail {
            width: 7em;

            border: #e1e1e1 solid 1px;
        }
    }
}
