.wrapper {
    user-select: none;
    text-align: center;
    margin: 25px 0;
}
.description {
    p {
        font-family: 'Roboto Condensed', sans-serif;
        color: #8b8b99;
        font-size: 14px;
    }
}
.showCertified {
    margin-top: 20px !important;
}
