.wrapper {
    display: flex;
    justify-content: center;
    padding-top: -6px;
    align-items: center;
    width: 350px;
    transition-duration: 0.4s;
    .container {
        display: flex;
        height: 100px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px #333 solid;
        position: relative;
        z-index: 999;
        cursor: pointer;
        .image {
            height: 60px;
            width: 60px;
        }
        .content {
            display: flex;
            flex-direction: column;
            .name {
                font-weight: 500;
                font-size: 1.6rem;
                padding: 0 18px;
                text-align: left;
            }
            .price {
                font-weight: 600;
            }
        }
        .cancel {
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 5px;
            &:hover {
                color: red;
            }
        }
    }
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}
.menuItems {
    line-height: 22px;
    cursor: pointer;
    max-height: 50vh;
    overflow-y: scroll;
    width: 100%;
    border-radius: 0;
    justify-content: flex-start;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}
.customWrapper {
    padding-top: -6px;
    min-width: 300px !important;
    min-height: 100px;

    .noItem {
        padding: 1em;
        font-weight: 500;
    }
}
.payment {
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 10px 15px;
    .totalMoney {
        display: flex;
        justify-content: space-between;
        padding: 0 18px;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .btn-gradient {
        color: white;
        font-weight: 500;
        cursor: pointer;
        background-image: -webkit-linear-gradient(35deg, #91ad41 0%, #ff8a6c 100%);
        &:active {
            background-image: none;
            background-color: #91ad41 !important;
        }
    }
}
