.iconAvatar {
    height: 44px;
    display: flex;
    align-items: center;
}
.wrapper {
    display: flex;
    align-items: center;
    position: relative;
}
.searchIcon {
    display: none;
    
}
@media only screen and (max-width: 1200px) {
    .searchIcon {
        display: block;
    }
}
.modalLogout {
    position: position;
    top: 50%;
    right: 50%;
    height: 10em;
    background-color: white;
    z-index: 999;
    width: 15em;
}
