.iconAvatar {
    height: 44px;
    display: flex;
    align-items: center;
}
.wrapper {
    display: flex;
    align-items: center;
}
.searchIcon {
    display: none;
}
@media only screen and (max-width: 1200px) {
    .searchIcon {
        display: block;
    }
}
