* {
    font-family: 'Nunito', sans-serif;
}
.css-96yce9.SnackbarItem-wrappedRoot {
    top: 3rem !important;
}
.Toastify__toast {
    top: 3rem;
}
.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
}
